<p><img src="https://cdnx.bumikita.or.id/assets/images/banner/banner-top.jpeg" alt="" width="631" height="213" /></p>
<div style="max-width: 631px">
<p>Yang Terhormat Bapak/Ibu {{user}}, <br /><br /> Berikut ini adalah tagihan e-Statement Kartu Kredit Anda periode bulan Oktober 2020. <br /><br /> Password standar e-Statement Anda adalah ddmmyyyy (contoh: 01121980), di mana :</p>
<ul>
    <li>dd : dua digit tanggal lahir Anda, contoh 01</li>
    <li>mm : dua digit pertama bulan lahir Anda, contoh 12</li>
    <li>yyyy : tahun lahir Anda, contoh 1980</li>
</ul>
<p style="text-align: justify;"><br /> Apabila Anda ingin mengubah password yang Anda miliki, silakan klik <a href="https://eform.tekanabc.com/fasilitasonlinecc?task=index&amp;goto=chpass">www.abc.co.id/creditcard</a>. <br /><br /> Simpan alamat email <a href="mailto:eStatement@tekanabc.com">eStatement@tekanabc.com</a> pada Address Book email Anda agar informasi tagihan tidak masuk ke dalam Junk Mail/Spam. <br /><br /> <strong>Informasi Penting</strong> <br /><br /> Mulai gunakan PIN untuk transaksi Kartu Kredit ABC sekarang juga. Sesuai Peraturan Bank Indonesia transaksi kartu kredit di Indonesia wajib menggunakan PIN 6-digit. <br /><br /> Cara mudah mendapatkan PIN Kartu Kredit ABC :</p>
<ol>
    <li>SMS ke 69888<br /> Ketik REQ&lt;spasi&gt;KODE&lt;spasi&gt;OTENTIKASI#Nomor Kartu Kredit ABC<br /> Contoh: REQ KODE OTENTIKASI#1234567890123456</li>
    <li>Aktifkan PIN Kartu Kredit ABC dengan menggunakan Kode Otentikasi tersebut melalui :
        <ol>
            <li>Website <a href="https://eform.tekanabc.com/fasilitasonlinecc?task=index&amp;goto=actpin">www.abc.co.id/creditcard</a></li>
            <li>ATM ABC</li>
        </ol>
    </li>
</ol>
<p style="text-align: justify;"><br /> <strong>Beberapa hal penting yang perlu diperhatikan untuk keamanan Kartu Kredit ABC Anda:</strong> <br /><br /> Hati-hati terhadap penipuan yang mengatasnamakan ABC. <br /> ABC tidak melakukan penggantian kartu kredit dan tidak memberi kuasa kepada siapapun untuk mengambil kartu kredit dari pemegang kartu kredit yang sah. Segala kerugian akibat diserahkannya kartu kredit Anda kepada pihak lain menjadi tanggung jawab Anda sepenuhnya. <br /><br /> Segera blokir Kartu Kredit ABC Anda jika terjadi kehilangan melalui Halo ABC 1500888 (Layanan 24 jam) atau aplikasi Mobile Banking ABC (menu: Admin). Transaksi yang terjadi sebelum kartu dilaporkan hilang menjadi tanggung jawab pemegang kartu. <br /><br /> Jika terdapat transaksi yang mencurigakan/tidak sesuai, segera hubungi Halo ABC 1500888 sebelum 30 hari kalender sejak tanggal tagihan. <br /><br /> Anda juga dapat melihat tagihan Kartu Kredit ABC Anda melalui aplikasi Mobile Banking ABC yang bisa di download melalui App Store dan Google Play. <br /><br /> Terima kasih, <br /><br /> PT Bank Central Asia Tbk <br /><br /> *Informasi dan data yang terdapat dalam E-Statement terlampir bersifat pribadi dan rahasia. Pemegang kartu bertanggung jawab sepenuhnya atas segala akibat penyalahgunaan informasi dan data yang terdapat pada e-Statement yang diakibatkan karena kelalaian Pemegang kartu. Pemegang kartu dengan ini membebaskan ABC dari segala macam klaim, tuntutan dan gugatan dari pihak manapun atas penyalahgunaan informasi dan data dalam e-Statement terlampir. <br /><br /></p>
<hr />
<p><br /> Dear Mr/Ms DIDI KURNIA RUMAPEA, <br /><br /> Your ABC Credit Card e-Statement for October 2020 is attached. Please use your e-Statement password to open it. <br /><br /> The e-Statement standard password is ddmmyyyy (example: 01121980), in which :</p>
<ul>
    <li>dd : two digits of your birth date, example: 01</li>
    <li>mm : two digits of your birth month, example: 12</li>
    <li>yyyy : your birth year, example: 1980</li>
</ul>
<p><br /> If you want to change your standard password, please visit <a href="https://eform.tekanabc.com/fasilitasonlinecc?task=index&amp;goto=chpass">www.abc.co.id/creditcard</a>. <br /><br /> Save this email address <a href="mailto:eStatement@tekanabc.com">eStatement@tekanabc.com</a> to your Address Book to keep your eStatement out of Spam/Junk Mail folder. <br /><br /> <strong>Important Notice</strong> <br /><br /> Start using PIN for your ABC Credit Card transactions. As required by Bank Indonesia, all credit card transactions in Indonesia must use 6-digits PIN. <br /><br /> Steps to get your ABC Credit Card PIN :</p>
<ol>
    <li>SMS to 69888<br /> Type REQ&lt;space&gt;KODE&lt;space&gt;OTENTIKASI#Credit Card Number<br /> Example: REQ KODE OTENTIKASI#1234567890123456</li>
    <li>Activate your PIN using the code via :
        <ul>
            <li>Website <a href="https://eform.tekanabc.com/fasilitasonlinecc?task=index&amp;goto=actpin">www.abc.co.id/creditcard</a></li>
            <li>ATM ABC</li>
        </ul>
    </li>
</ol>
<p style="text-align: justify;"><br /> <strong>Safety tips for your ABC Credit Card :</strong> <br /><br /> Be aware of fraudulent activity claiming on behalf of ABC. <br /> ABC never authorizes anyone (including ABC's staff) to retrieve ABC Credit Card from the Cardholder, for any reasons. The Cardholder will be fully responsible for all financial loss due to the hand-over of the credit card to any third party. <br /><br /> In case of lost or stolen card, immediately block your ABC Credit Card by calling Halo ABC 1500888 (24-hour Service) or through ABC Mobile Banking app (menu: Admin). Cardholder will be fully responsible for any transactions which occurred prior to the report. <br /><br /> Report immediately if there is any suspicious/unrecognized transaction by calling Halo ABC 1500888 within 30 business days. <br /><br /> You can also view your ABC Credit Card billing statement through ABC Mobile Banking app, which can be downloaded via App Store and Google Play. <br /><br /> Regards, <br /><br /> PT Aku Bisa Canda Tbk <br /><br /> *The information and data contained in the attached E-Statement are private and confidential. The Cardholder shall be responsible for all consequences arising from the misuse of the information and data contained therein as a result of the Cardholder's negligence. The Cardholder hereby indemnifies and holds ABC harmless against any claims, suits, and demand filed by any parties in regard to the misuse of the information and data contained in the attached E-Statement.</p>
</div>