<html>
<body>
<p><img src="https://cdnx.bumikita.or.id/assets/images/banner/banner-top.jpeg" alt="" width="631" height="213" /></p>
<p>Kepada Yang Terhormat, BAPAK {{user}},</p>
<p>Terima kasih atas kesetiaan Anda kepada Kartu Kredit Bank Muktar. Terlampir adalah Tagihan Elektronik Kartu Kredit Bank Muktar (e-Billing Statement) Anda. Untuk memudahkan Anda, format BARU password e-Billing Statement Anda adalah DDMMYYYY. Silakan gunakan password sesuai petunjuk format di bawah ini untuk mengakses e-Billing Statement Anda.</p>
<p>Format password e-Billing Statement baru Anda adalah DDMMYYYY, dimana:</p>
<p>DD Dua digit tanggal lahir Anda, contoh: 01<br /> MM Dua digit bulan lahir Anda, contoh: 01<br /> YYYY Empat digit tahun kelahiran Anda, contoh: Tahun kelahiran 1986, ketik 1986</p>
<p>Password e-Billing Statement berdasarkan contoh di atas adalah: 01011986.</p>
</body>
</html>